/* Add styling for your page here */

.App {

}

.BakeryItem {
  
}

img {
    max-width: 250px;
  }

  .main {
    flex:content;
    width: 70%;
  }

  .aside {
    flex-direction: column;
    display: flex;
  }
